{% extends 'blog\base.html' %}
{% block base %}
    <section class="hero is-fullheight hero-bg">
      <div class="hero-body" >
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-5-desktop is-7-widescreen">
              <div class="box">
                  <form method='POST'>
                    <div class='.container.is-widescreen has-background-info-dark'>
                      <p class='is-size-3 has-text-centered'>Be a part of this project today.</p>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class='form-group mt-3'>
                      <button class="button is-primary is-fullwidth is-outlined" type='submit'>Sign Up</button>
                    </div>
                </form>
              <div class = 'mt-1 is-size-7 has-text-grey'> Already got an account? Nice, <a href='#'>log in.</a>
              </div>
              </div>
            </div>
          </div>
      </div>
    </section>
{% endblock %}